<!DOCTYPE html>
<html>
  <head>
    <title>welcome</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div id="nav">
      <div id="login">
        <a href="/login">登录</a> | <a href="/reg">注册</a>
      </div>
    </div>
    <p>welcome <%=uname?uname:'游客'%> </p>
  </body>
</html>
